body {
	font-family: Arial, Helvetica, sans-serif;
	color: #121212;
	padding: 2rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

main {
	max-width: 400px;
	min-width: 350px;
}

button {
	margin-top: 2rem;
	width: 100%;
	background-color: #121212;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

button:hover {
	background-color: #565656;
}

input[type="text"] {
	width: 80%;
	padding: 10px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

h1 {
	font-family: "Jersey 20", sans-serif;
	font-weight: 400;
	font-size: 48px;
	color: #f64c72;
	margin: 1rem 0rem;
}

h3 {
	color: white;
	padding: 10px 20px;
}

.heading {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 2rem;
}

.focus-group {
	background-color: #2f2fa2;
}

.topic {
	background-color: rgb(238, 210, 2);
}

.medium {
	background-color: #f64c72;
}

.label-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
