@page {
	size: A5;
}

@media print {
	@page {
		margin: 0;
		size: landscape;
	}
	body {
		margin: 0.75cm;
	}
}

body {
	width: 1000px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 4rem;
	color: #2f2fa2;
}

.frontside {
	height: 750px;
	display: flex;
	justify-content: center;
	/* border: solid 0.5px; */
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		/* margin: 1rem; */
		height: 720px;
		border-radius: 10px;
	}
}

.backside {
	height: 750px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	/* border: solid 0.5px; */

	.message {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 1rem;
		padding-right: 2rem;
		gap: 2rem;
		flex: 1;

		.text {
			.title-behind {
				position: absolute;
				font-family: "Jersey 20", sans-serif;
				font-weight: 400;
				font-size: 70px;
				width: 443px;
				color: #2f2fa2;
				font-style: normal;
				/* padding-top: 2rem; */
				padding-bottom: 2rem;
				z-index: -1;
				translate: -2px 3px;
			}
			.title {
				font-family: "Jersey 20", sans-serif;
				font-weight: 400;
				font-size: 70px;
				color: #f64c72;
				font-style: normal;
				padding-bottom: 2rem;
			}

			.idea {
				font-size: 28px;
				font-weight: normal;
				line-height: 150%;
			}
		}

		.dices {
			display: flex;
			gap: 0.5rem;
			align-items: start;
			flex-direction: column;
			/* margin-top: 2rem; */
			font-size: 18px;

			.dice1,
			.dice2,
			.dice3 {
				padding: 0.25rem 0.5rem;
				color: white;

				img {
					transform: translateY(2px);
					padding-right: 0.25rem;
				}
			}

			.dice1 {
				background-color: #2f2fa2;
			}
			.dice2 {
				background-color: #f64c72;
			}
			.dice3 {
				background-color: #daaa00;
			}
		}
	}

	.sender {
		margin: 1rem;
		margin-left: 0;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: start;
		border-left: solid 1px;
		padding-left: 2rem;

		.header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.credits {
				font-size: 18px;
			}

			.stamp {
				background-color: #2f2fa2;
				border-radius: 6px;
				border: 2px dashed #fff;
				align-self: flex-end;
				display: flex;
				justify-content: center;
				height: 90px;
				display: flex;
				align-items: center;
				width: 150px;

				img {
					height: 30px;
					margin: 0.5rem;
				}
			}
		}

		.address {
			align-self: center;
			padding-top: 10rem;
			width: 100%;

			.line {
				border-bottom: solid 1px #2f2fa2;
			}
			p {
				font-size: 28px;
				line-height: 90%;
				margin: 0.5rem;
				margin-top: 2rem;
			}
		}
	}
}
