@page {
	size: A5;
}

@media print {
	@page {
		margin: 0;
		size: landscape;
	}
	body {
		margin: 0.75cm;
	}
}

body {
	width: 740px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 3rem;
	color: #2f2fa2;
}

.frontside {
	img {
		height: 480px;
		border-radius: 10px;
	}

	display: flex;
	justify-content: center;
	border: solid 0.5px;
	padding: 0.5rem;
	background-color: #fdfaf3;
}

.backside {
	height: 480px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	border: solid 0.5px;
	background-color: #fdfaf3;

	.message {
		flex: 1;
		padding-right: 3rem;
		align-self: center;
		padding: 1rem;
		border-right: solid 1px;
	}

	.sender {
		flex: 1;
		font-size: small;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem;

		.stamp {
			background-color: #2f2fa2;
			border: solid 1px;
			border-style: dotted;
			border-radius: 4px;
			align-self: flex-end;
			display: flex;
			justify-content: center;
			height: 70px;
			display: flex;
			align-items: center;
			img {
				height: 30px;
				margin: 0.5rem;
			}
		}

		.address {
			line-height: 150%;
			align-self: center;
			padding-bottom: 5rem;
			p {
				text-decoration: underline;
			}
		}
	}
}
